{% extends 'main/main_template.html' %}
{% load static %}

{% block content %}


<link href="{% static 'main/sidebar.css'%}" rel="stylesheet">

    <div class="row">
      {% include 'main/sidebar.html' %}
      <div class="asbcontent col-md-10 col-sm-12 mt-3">
        <div class="row">
          <p class="fs-2 bg-white border w-auto shadow-sm">AllCases</p>
        </div>
        <div class="row justify-content-center">
          <div class="accordion col-xl-12 col-xxl-9 bg-white shadow-sm pt-3" id="accordionExample">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <div class="row justify-content-between">
                    <button class="accordion-button  border-0 collapsed fs-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      <i class="fa fa-filter"></i>
                      &nbsp;&nbsp;&nbsp;Filters 
                    </button>
                  </div>

                </h5>
              </div>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="card-body">
                  <div class="row">
                        <form method="get" >
                          <div class="form row justify-content-center">
                            <div class="form-group col-md-2">
                              {{thefilter.form.studyid.label_tag}}
                              {{thefilter.form.studyid}}
                            </div>
                            <div class="form-group col-md-2">
                              {{thefilter.form.mspatient.label_tag}}
                              {{thefilter.form.mspatient}}
                            </div>
                            <div class="form-group col-md-2">
                              {{thefilter.form.ms_now.label_tag}}
                              {{thefilter.form.ms_now}}
                            </div>
                            <div class="form-group col-md-2">
                              {{thefilter.form.s_d.label_tag}}
                              {{thefilter.form.s_d}}
                            </div>
                            <div class="form-group col-md-2">
                              {{thefilter.form.e_d.label_tag}}
                              {{thefilter.form.e_d}}
                            </div>
                            <div class="form-group col-md-2">
                              {{thefilter.form.a_gt.label_tag}}
                              {{thefilter.form.a_gt}}
                            </div>
                            <button class="btn btn-primary col-3" type="submit">Search</button>

                          </div>
                        </form>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-xl-12 col-xxl-9 bg-white shadow-sm pt-3 mb-5">
            <table id="table_id" class="table table-bordered table-striped border-top table-hover " style="width: 100%;" >
              <thead>
                <tr class="text-center">
                  <th>Patient</th>
                  <th>studyid</th>
                  <th>formdate</th>
                  <th>View more</th>
                  <th>PDF</th>
                </tr>
              </thead>
              <tbody>
              {% for mscase in mscases %}
                  <tr>
                    {% if mscase.mspatient.id is None %}
                      <td>None</td>
                    {% else %}
                      <td><a class="text-decoration-none text-primary " href="{% url 'main:patientsentry' mscase.mspatient.id %}">{{mscase.mspatient.name}} {{mscase.mspatient.surname}}</a></td>
                    {% endif %}
                      <td>{{mscase.studyid}}</td>
                      <td>{{mscase.formdate}}</td>
                      {% if mscase.mspatient.id is None %}
                      <td>None</td>
                      {% else %}
                      <td class="text-center"><a data-bs-toggle="tooltip" title="View this case"  href="{% url 'main:caseentry' mscase.mspatient.id mscase.studyid  %}"><i class="fas fa-eye"></i></a></td>
                      {% endif %}
                      <td class="text-center"><a data-bs-toggle="tooltip" title="PDF"  href="{% url 'main:pdf' mscase.mspatient.id mscase.studyid  %}"><i class="text-danger fas fa-file-pdf"></i></a></td>

                 </tr>
              {% endfor %}
            </tbody>
          </table>
          <div class="row justify-content-center">
            <a href="{% url 'main:caseform' %}"class="col-4 btn btn-primary mb-2">Add new case</a>
        </div>
              </div>
          </div>
        </div>
        </div>
<style>
    .accordion-button:not(.collapsed){
    color: #0d6efd !important;
  }
</style>
<script>
  $(document).ready( function () {
    $('#table_id').DataTable({
      responsive: true,
    });
    $('#id_mspatient').addClass( "form-control form-control-sm" );
    $('#id_studyid').addClass( "form-control form-control-sm" );
    $('#id_ms_now').addClass( "form-control form-control-sm" );
    $('#id_s_d').addClass( "form-control form-control-sm " );
    $('#id_e_d').addClass( "form-control form-control-sm" );
    $('#id_a_gt').addClass( "form-control form-control-sm" );
    $('#id_s_d').attr("type","date");
    $('#id_e_d').attr("type","date");
    $("label").addClass("text-muted");
    $("input").addClass("text-muted");
    $("select").addClass("text-muted");

    $("label[for='id_s_d']").empty();
    $("label[for='id_s_d']").append("Formdate greater than");
    $("label[for='id_e_d']").empty();
    $("label[for='id_e_d']").append("Formdate less than");


    $('#dashboard-sidebar').addClass( "collapsed" );
    $('#dashboard-sidebar').removeClass( "collapse show" );
    $('#dashboard-sidebar').attr("aria-expanded","false");
    $('#dashboard-collapse').removeClass("collapse-show");
    $('#dashboard-collapse').addClass( "collapse" );
    $('#admin-sidebar').removeClass( "collapsed" );
    $('#admin-sidebar').addClass( "collapse show" );
    $('#admin-sidebar').attr("aria-expanded","true");
    $('#admin-collapse').addClass("collapse-show");
    $('#admin-collapse').removeClass( "collapse" );
    $("a[href$='/adminallcases/']").addClass("bg-primary")

  } );
</script>

{% endblock %}
