{% extends 'main/main_template.html' %}

{% block content %}

<h1> patient data!</h1>
<table id="table_id" class="display">
<thead>
  <tr>
    <th>name</th>
    <th>surname</th>
    <th>address</th>
    <th>formdate</th>
    <th>studyid</th>
    <th>ms_now</th>
    <th>conv_to_sp</th>
    <th>date_diag</th>
    <th>ms_diag</th>
    <th>date_onset</th>
    <th>num_relapses</th>
    <th>severity</th>
    <th>pastmodtreat</th>
    <th>pastmoddatestart</th>
    <th>pastmodtreatstop</th>
    <th>pastmodreason</th>
    <th>presmodtreat</th>
    <th>presmoddatestart</th>
    <th>edssscore</th>
    <th>edssdate</th>
    <th>walkrangetime</th>
    <th>walkrangedist</th>
    <th>walkrangeeval</th>
    <th>pregnant</th>
    <th>smoker</th>
    <th>cigperday</th>
    <th>smokersince</th>
    <th>onsetlocal</th>
    <th>onsetsympt</th>
    <th>personcompleting</th>
  </tr>
</thead>
<tbody>
    <tr>
        <td>{{mspatient.name}}</td>
        <td>{{mspatient.surname}}</td>
        <td>{{mspatient.address}}</td>
        <td>{{mspatient.formdate}}</td>
        <td>{{mspatient.studyid}}</td>
        <td>{{mspatient.ms_now}}</td>
        <td>{{mspatient.conv_to_sp}}</td>
        <td>{{mspatient.date_diag}}</td>
        <td>{{mspatient.ms_diag}}</td>
        <td>{{mspatient.date_onset}}</td>
        <td>{{mspatient.num_relapses}}</td>
        <td>{{mspatient.severity}}</td>
        <td>{{mspatient.pastmodtreat}}</td>
        <td>{{mspatient.pastmoddatestart}}</td>
        <td>{{mspatient.pastmodtreatstop}}</td>
        <td>{{mspatient.pastmodreason}}</td>
        <td>{{mspatient.presmodtreat}}</td>
        <td>{{mspatient.presmoddatestart}}</td>
        <td>{{mspatient.edssscore}}</td>
        <td>{{mspatient.edssdate}}</td>
        <td>{{mspatient.walkrangetime}}</td>
        <td>{{mspatient.walkrangedist}}</td>
        <td>{{mspatient.walkrangeeval}}</td>
        <td>{{mspatient.pregnant}}</td>
        <td>{{mspatient.smoker}}</td>
        <td>{{mspatient.cigperday}}</td>
        <td>{{mspatient.smokersince}}</td>
        <td>{{mspatient.onsetlocal}}</td>
        <td>{{mspatient.onsetsympt}}</td>
        <td>{{mspatient.personcompleting}}</td>
    </tr>
  </tbody>
  <a href="{% url 'main:delete_patientform' mspatient.studyid %}">
    <h1>diegrapse ton!</h1>
  </a>
  <a href="{% url 'main:update_patientform' mspatient.studyid %}">
    <h1>epeksergasia!</h1>
  </a>
{% endblock %}