{% extends 'main/main_template.html' %}
{% load static %}


{% block content %}
<link href="{% static 'main/sidebar.css'%}" rel="stylesheet">

    <div class="row">
      {% include 'main/sidebar.html' %}
      <div class="asbcontent col-md-10 col-sm-12 mt-3">
        <div class="row ">
          <p class="fs-2 bg-white border w-auto shadow-sm">{{mspatient.name}} {{mspatient.surname}}'s Cases</p>

        </div>
        <div class="row justify-content-center">
          <div class="col-xl-12 col-xxl-9 bg-white shadow-sm ">
            <table id="table_id" class="table table-bordered border border-top table-striped mt-5" style="width: 100%;">
              <thead>
                <tr>
                  <th>studyid</th>
                  <th>formdate</th>
                  <th>View more</th>
                </tr>
              </thead>
              <tbody>
              {% for mscase in mscases %}
                <tr>
                  <td>{{mscase.studyid}}</td>
                  <td>{{mscase.formdate}}</td>
                  <td class="text-center"><a data-bs-toggle="tooltip" title="View this case"  href="{% url 'main:caseentry' mscase.mspatient.id mscase.studyid  %}"><i class="fas fa-eye"></i></a></td>                </tr>
            {% endfor %}
              </tbody>
            </table>
          </div>
          </div>
          </div>
          </div>
<script>
  $(document).ready( function () {
    $('#table_id').DataTable({
      responsive: true,
    });
  } );
</script>
{% endblock %}

