{% extends 'main/main_template.html' %}

{% block content %}


<a href="{% url 'main:caseform' %}"><h1>vale enan astheni!</h1></a>

<table id="table_id" class="display">
<thead>
  <tr>
    <th>studyid</th>
    <th>formdate</th>
    <th>name</th>
    <th>surname</th>
    <th>address</th>
    <th>ena<th>
  </tr>
</thead>
<tbody>
{% for mscase in mscases %}
    <tr>
        <td>{{mscase.studyid}}</td>
        <td>{{mscase.formdate}}</td>
        <td>{{mscase.name}}</td>
        <td>{{mscase.surname}}</td>
        <td>{{mscase.address}}</td>
        <td><a href="{% url 'main:registryentry' mscase.studyid %}">View</a></td>
    </tr>
  </tbody>
{% endfor %}

</table>
<script>
    $(document).ready( function () {
    $('#table_id').DataTable();
} ); </script> 



{% endblock %}