{% extends 'main/main_template.html' %}

{% block content %}


<a href="{% url 'main:patientform' %}"><h1>vale enan astheni!</h1></a>

<table id="table_id" class="display">
<thead>
  <tr>
    <th>studyid</th>
    <th>formdate</th>
    <th>name</th>
    <th>surname</th>
    <th>address</th>
    <th>ena<th>
  </tr>
</thead>
<tbody>
{% for mspatient in mspatients %}
    <tr>
        <td>{{mspatient.studyid}}</td>
        <td>{{mspatient.formdate}}</td>
        <td>{{mspatient.name}}</td>
        <td>{{mspatient.surname}}</td>
        <td>{{mspatient.address}}</td>
        <td><a href="{% url 'main:registryentry' mspatient.studyid %}">View</a></td>
    </tr>
  </tbody>
{% endfor %}

</table>
<script>
    $(document).ready( function () {
    $('#table_id').DataTable();
} ); </script> 



{% endblock %}